 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #2B2220;
active-foreground: #BFD4BB;
normal-background: #252423;
normal-foreground: #BFD4BB;
urgent-background: #7D517A;
urgent-foreground: #BFD4BB;

alternate-active-background: #593F65;
alternate-active-foreground: #BFD4BB;
alternate-normal-background: #252423;
alternate-normal-foreground: #BFD4BB;
alternate-urgent-background: #252423;
alternate-urgent-foreground: #BFD4BB;

selected-active-background: #2B2220;
selected-active-foreground: #BFD4BB;
selected-normal-background: #9CBA96;
selected-normal-foreground: #BFD4BB;
selected-urgent-background: #7D517A;
selected-urgent-foreground: #BFD4BB;

background-color: #252423;
background: rgba(0,0,0,0.7);
foreground: #9CBA96;
border-color: #2B2220;
}

